<h1 mat-dialog-title>Create New Playlist</h1>
<div mat-dialog-content>
  <form [formGroup]="orderForm">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Customer name"
            formControlName="customerName"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <ng-container formArrayName="items">
      <div
        class="row"
        *ngFor="let item of items.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-sm-3">
          <mat-form-field class="full-width">
            <mat-select
              formControlName="category"
              placeholder="Select category"
              (selectionChange)="categoryChanged(i)"
              required
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
              >
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field class="full-width">
            <mat-select
              formControlName="name"
              placeholder="Select item"
              [disabled]="!items.get(i.toString()).get('category').value"
              (selectionChange)="setItemPrice(i.toString(), $event)"
              required
            >
              <mat-option
                *ngFor="let item of itemList[i]"
                [value]="item?.name"
              >
                {{ item?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field class="full-width">
            <span matPrefix>$ &nbsp;</span>
            <input
              type="number"
              matInput
              formControlName="price"
              [value]="items.get(i.toString()).get('price').value"
              readonly
            />
          </mat-form-field>
        </div>

        <div class="col-sm-2 action-btn">
          <button
            mat-icon-button
            color="primary"
            *ngIf="i === items.controls.length - 1"
            (click)="addItem()"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            *ngIf="items.controls.length > 1"
            (click)="removeItem(i)"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions class="dialog-action-button">
  <button mat-flat-button color="warn" (click)="onCancel()">CANCEL</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!orderForm.valid"
    (click)="onSubmit()"
    cdkFocusInitial
  >
    SUBMIT
  </button>
</div>
