.container {
  max-width: 900px;
  margin: 2em auto 10em;
}

.main-title {
  text-align: center;
  margin: 0 0 16px !important;
}

.test-description {
  margin-bottom: 3em;
  margin-left: 0.7em;
  text-align: center;
}

.divider {
  margin: 1em 0;
}

.order-card {
  margin-top: 1em;
}