<div class="container">
  <h1 class="mat-display-2 main-title">Linusu Tech Shop</h1>
  <h3 class="mat-h3 test-description">
    Welcome to the best tech shop in town! 
    You can buy any PC part you want as long as you have money.
    But remember kids, don't drop your PC component!
  </h3>

  <button mat-raised-button color="primary" (click)="addPlaylist()">
    <mat-icon>add_shopping_cart</mat-icon> Add New Order
  </button>
  <mat-divider class="divider"></mat-divider>

  <div *ngFor="let order of orders" class="order-card">
    <mat-card>
      <mat-card-title>${{order?.totalPrice}}</mat-card-title>
      <mat-card-subtitle>
        By {{order?.buyer}} &#183; {{order?.email}}
      </mat-card-subtitle>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of order?.items">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <h4 mat-line>{{item?.category}}</h4>
            <p mat-line>{{item?.name}} &#183; ${{item?.price}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="warn" (click)="deletePlaylist(i)">DELETE</button>
        <button mat-button (click)="editPlaylist(playlist, i)">EDIT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
